*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: rgb(201, 248, 232);
    justify-content: space-around;
    gap: 300px;
}

.logo{
    width: 80px;
}

header li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    
}

.botao_login {
    padding: 10px 20px; 
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border: none; 
    color: #ffffff; 
    background-color: #3498db;
    border-radius: 5px; 
    margin-top: -10px;
    transition: background-color 0.3s ease;
}

.botao_login:hover {
    background-color: rgb(53, 7, 95);
    color: #fff; 
}
header a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

}

.banner{
    background-color: rgb(201, 248, 232);
    padding-top: 350px;
    display: flex;
    justify-content: space-around;
}

.banner .texto_header{
    margin-top: -300px;
}

.banner .div_img_header{
    margin-top: -350px;
}

.banner .img_header{
    width: 400px;
}

.banner h1{
    font-size: 35px;
    font-weight: bold;
    font-family:cursive;
    margin-bottom: 20px;
    
}

.banner p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}

.botao_interesse{
    padding: 10px 20px; 
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border: none; 
    color: #ffffff; 
    background-color: #3498db;
    border-radius: 5px; 
    margin-top: -10px;
    transition: background-color 0.3s ease;

}

.botao_interesse:hover{
    background-color: rgb(53, 7, 95);
    color: #fff; 
}

.cards{
    display: flex;
    justify-content: space-around;
    
}
.div_card{
    background-color:aliceblue;
    width: 20%;
    height: 170px;
    border-radius: 10px;
    margin-top: -4%;
    text-align: center;   
    border-top: 8px solid rgb(255, 174, 0);
    box-shadow:0 0 10px 10px #666;

 }
.div_card2{
    background-color:aliceblue;
    width: 20%;
    height: 170px;
    border-radius: 10px;
    margin-top: -4%;
    text-align: center;   
    border-top: 8px solid rgb(204, 0, 255);
    box-shadow:0 0 10px 10px #666;
 }
.div_card3{
    background-color:aliceblue;
    width: 20%;
    height: 170px;
    border-radius: 10px;
    margin-top: -4%;
    text-align: center;   
    border-top: 8px solid rgb(219, 161, 52);
    box-shadow:0 0 10px 10px #666;
    
 }

 .div_card img{
    width: 25%;
    margin: 3%;
 }
 .div_card2 img{
    width: 25%;
    margin: 3%;
 }
 .div_card3 img{
    width: 25%;
    margin: 3%;
 }

.section_servicos{
    display: flex;
    gap: 15%;
    margin: 0% 10%;
}

.img_servicos{
    width: 450px;
}

.div_servicos{
    margin-top: 13%;
}
.div_servicos p{
    margin-top: 3%;
}
.div_servicos h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.div_img_servicos{
    margin-top: 10%;
}

 .velocidade{
    color: #3498db;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
 }
 .simplicidade{
    color:#0004ff;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .qualidade{
    color:#1e71a8;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

